In [7]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

## 유튜브 인기동영상 데이터

In [51]:
url = "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv" 

youtube = pd.read_csv(url, index_col=0)
youtube.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [18]:
youtube['view_count'].value_counts()

0           13
356580       3
559206       3
789768       3
210637       3
            ..
1227963      1
2301144      1
1014578      1
176243       1
13753485     1
Name: view_count, Length: 59211, dtype: int64

In [24]:
youtube.sort_values("view_count", ascending=False)['channelTitle'].unique()[:10]

array(['HYBE LABELS', 'BLACKPINK', 'JYP Entertainment', 'SMTOWN',
       'AdeleVEVO', 'BANGTANTV', 'Coldplay', 'YouTube',
       'Stone Music Entertainment', 'MayTree'], dtype=object)

In [26]:
youtube.loc[youtube['likes'] < youtube['dislikes'],'channelTitle'].unique()

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

In [50]:
youtube['channelId'].drop_duplicates().

UChbE5OZQ6dRHECsX0tEPEZQ    1
UCYmo0HyIbPtyu5QnFZ7-V5Q    1
UCFg6o2kwW5U2Cg8MRs5cWEw    1
UCM31rBPQdifQKUmBKtwVqBg    1
UCrLQ0ovys23H9xBV6U-Sd4A    1
                           ..
UCwYaeyJOTL1dmUvLNBLY-UA    1
UCheR9R2CEDUADnNrC7PkaGA    1
UCQNRHpNDMBUjyaLL61t_4Tg    1
UCxPsZyuVOLKMt-ze8I-hl_w    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [58]:
change = youtube[['channelTitle', 'channelId']].drop_duplicates()['channelId'].value_counts()
change = change.loc[change>1]
len(change)

71

In [73]:
youtube['trending_date2'] = pd.to_datetime(youtube['trending_date2'])
youtube.loc[youtube['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().head()

24    3096
22    1337
10     830
17     636
23     556
Name: categoryId, dtype: int64

In [81]:
youtube.groupby([youtube['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size().pivot(index='categoryId', columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [92]:
temp = youtube.loc[youtube['view_count']!=0]
temp['ratio'] = temp['comment_count'] / temp['view_count']
temp.sort_values(by='ratio',ascending=False).head(1)['title']

/Users/klee30810/miniconda3/envs/adp_class/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

50830    60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
Name: title, dtype: object

In [113]:
youtube['ratio'] = youtube['comment_count'] / youtube['view_count']
temp = youtube.loc[(youtube['view_count']!=0) & (youtube['ratio']!=0)]

temp.sort_values(by='ratio',ascending=True).head(1)['title'].unique()[0]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [112]:
temp = youtube.loc[(youtube['likes']!=0) & (youtube['dislikes']!=0)]
temp['like_ratio'] = temp['dislikes'] / temp['likes']

temp.sort_values(by='like_ratio',ascending=True).head(1)['title'].unique()[0]

/Users/klee30810/miniconda3/envs/adp_class/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [110]:
youtube.loc[youtube['channelId'] == youtube['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'짤툰'

In [138]:
(youtube[['title', 'channelId']].value_counts()>=20).sum()

40

## 유튜브 공범컨텐츠 동영상 데이터

In [139]:
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [140]:
video['ct'] = pd.to_datetime(video['ct'])
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [143]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [149]:
channel['ct'] = pd.to_datetime(channel['ct'])
temp = channel.loc[channel['ct']>=pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
temp[['channelname','subcnt']].reset_index(drop=True)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

In [160]:
end = channel.loc[channel['ct'].dt.strftime("%Y-%m-%d %H")=='2021-10-03 03']
start = channel.loc[channel['ct'].dt.strftime("%Y-%m-%d %H")=='2021-11-01 15']

end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

end_df.columns = ['channelname', 'end_sub']
start_df.columns = ['channelname', 'start_sub']

temp = pd.merge(end_df, start_df)
temp['diff'] = temp['end_sub'] - temp['start_sub']
temp

        channelname  end_sub  start_sub   diff
0               꽈뚜룹  1330000    1400000 -70000
1             야전삽짱재   257000     268000 -11000
2        츄정ChuJeong   322000     323000  -1000
3            논리왕 전기   922000     911000  11000
4   와글와글 WagleWagle    55000      55000      0
5               조나단   215000     227000 -12000
6           형사!탐정되다    14900      25200 -10300
7        김농밀의 농밀한 삶     7520       9060  -1540
8       릴펄 Lilpearl    10100      21100 -11000
9     곽토리 kwak tori   471000     469000   2000
10    Balming Tiger    54300      56800  -2500

In [167]:
# 16
import datetime

temp = video.loc[video['videoname'].str.contains('EP1')]
temp.loc[(temp['ct'].diff(1) <= datetime.timedelta(minutes=5)) | (temp['ct'].diff(1) >= datetime.timedelta(minutes=20))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
418,c5JQp6xafqc,1700233,30747,716,0,6632,2021-10-10 17:00:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1