In [1]:
import pandas as pd
import numpy as np

from scipy import stats
import statsmodels.formula.api as sm
from statsmodels import regression
import statsmodels

import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager, rc, rcParams

# 15. 범주형 자료분석
## 15.1 서론
- 범주형 자료 : 관측치들이 몇 개의 범주로 분류되고 각 범주의 도수로 자료가 주어지는 것

In [24]:
# example 9 
obs = [18,55,27]
pr = [0.25, 0.5, 0.25]
n = np.sum(obs)
exp = np.multiply(n, pr)
df = len(obs) - 1

stats.chisquare(obs, exp) # 적합도 검정

Power_divergenceResult(statistic=2.62, pvalue=0.26982005638468687)

In [25]:
# example 10
data = pd.DataFrame([['a', 'ok', 37], ['a', 'mid', 24], ['a', 'ng', 19], ['b', 'ok', 17], ['b', 'mid', 33], ['b', 'ng', 20]])
diet = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum')#, margins=True)

stats.chi2_contingency(diet) # 동질성 검정

(8.22398544438018,
 0.01637511094543408,
 2,
 array([[30.4, 20.8, 28.8],
        [26.6, 18.2, 25.2]]))

In [2]:
# example 1
a = 18 ; b = 55 ; c = 27
all_sum = 100
pa = a / all_sum
pb = b / all_sum
pc = c / all_sum
print(pa, pb, pc)

0.18 0.55 0.27

In [4]:
# example 2
data = pd.DataFrame([['a', 'ok', 37], ['a', 'mid', 24], ['a', 'ng', 19], ['b', 'ok', 17], ['b', 'mid', 33], ['b', 'ng', 20]])
diet = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum', margins=True)

diet

1    mid  ng  ok  All
0
a     24  19  37   80
b     33  20  17   70
All   57  39  54  150

In [13]:
diet_ratio = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum', margins=True, normalize='columns')
diet_ratio
"동질성 검정의 귀무가설은 p_{Ai} = p_{Bi}"

'동질성 검정의 귀무가설은 p_{Ai} = p_{Bi}'

In [15]:
# example 3
data = pd.DataFrame([['male', 'much', 378], ['male', 'ok', 237], ['male', 'less', 26], ['female', 'much', 388], ['female', 'ok', 196], ['female', 'less', 25]])
watch = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum', margins=True)

print(watch)
"독립성 검정 : 방영에 대한 의견은 개인의 성별과 무관하다는 귀무가설 검정"

1       less  much   ok   All
0
female    25   388  196   609
male      26   378  237   641
All       51   766  433  1250

'독립성 검정 : 방영에 대한 의견은 개인의 성별과 무관하다는 귀무가설 검정'

## 15.2 피어슨의 $\chi^2$(카이제곱) 적합도 검정
- 귀무가설에서 제시한 각 범주의 비율이 실제 자료에 적합한가?
$$H_0:p_1=p_{10},\dots,p_k=p_{k0}$$
$$Observed=n_i\quad Expected=n\times p_{i0] \\ \chi^2=\sum\frac{(O-E)^2}{E}=\sum^k_{i=1}\frac{(n_i-np_{i0})^2}{np_{i0}} \ quad df=(범주의\ 갯수)-1$$

> **피어슨의 $\chi^2$ 적합도 검정**
>
> $$H0:p_1=p_{10}, \dots, p_k=p_{k0}$$
> $$\chi^2=\sum\frac{(O-E)^2}{E}=\sum^k_{i=1}\frac{(n_i-np_{i0})^2}{np_{i0}} \quad df=(범주의\ 갯수)-1$$
> 유의수준 $\alpha$에 대한 기각역은 $R:\chi^2\geq\chi^2_\alpha(k-1)$

> **$\chi^2$ 분포의 특성**
>
> 1) 독립인 표본으로부터 계산된 $\chi^2$통계량들을 더하면, 그 합도 $\chi^2$ 분포를 따르며, 자유도는 각 자유도의 합과 같다 $$\chi^2(k_1)+\dots+\chi^2(k_r)\sim \chi^2(k_1+\dots+k_r)$$
> 2) $\chi^2$통계량을 계산하는데 만약 모수의 추정치를 사용하였다면, 통계량 분포의 자유도는 추정한 모수의 개수만큼 감소하게 된다 $$\chi^2의 자유도=(모수를\ 알고\ 있을\ 경우의\ 자유도)-(추정된\ 모수의\ 수)$$

- 피어슨 $\chi^2$검정은 표본의 크기가 큰 경우에만 적합 : 각 칸의 기대도수가 5 이상이면 가능
    - 기대도수가 5보다 작은 칸이 많은 경우에는, 여러 칸을 합하여 기대도수를 크게 하거나, $2\times 2$ 분할표에서는 피셔의 정확검정법 사용

In [33]:
# example 4
obs = [18, 55, 27]
exp = [25, 50 ,25]
chi2 = np.sum(np.divide(np.subtract(obs, exp)**2, exp)); print(chi2)
stats.chi2.ppf(1-0.05/2, df=len(obs)-1)

2.62

7.377758908227871

In [34]:
# prob 2.2
obs = [38, 43, 10, 5]
exp = [96/4, 96/4, 96/4, 96/4]

alpha = 0.05
chi2 = np.sum(np.divide(np.subtract(obs, exp)**2, exp)); print(chi2)
stats.chi2.ppf(1-alpha/2, df=len(obs)-1)

46.416666666666664

9.348403604496148

In [36]:
# prob 2.4
obs = [61, 55, 41, 41]
exp = [198/4, 198/4, 198/4, 198/4]

alpha = 0.05
chi2 = np.sum(np.divide(np.subtract(obs, exp)**2, exp)); print(chi2)
stats.chi2.ppf(1-alpha/2, df=len(obs)-1)

6.2020202020202015

9.348403604496148

In [41]:
# prob 2.6
obs = [141, 291, 132]
exp = np.multiply(np.sum(obs), [1/4, 1/2, 1/4])

alpha = 0.05
chi2 = np.sum(np.divide(np.subtract(obs, exp)**2, exp)); print(chi2)
stats.chi2.ppf(1-alpha/2, df=len(obs)-1)

0.8617021276595745

7.377758908227871

In [42]:
# prob 2.8
obs = [462, 171, 76, 57, 92, 74]
exp = np.multiply(np.sum(obs), [0.59, 0.15, 0.06, 0.06, 0.07, 0.07])

alpha = 0.01
chi2 = np.sum(np.divide(np.subtract(obs, exp)**2, exp)); print(chi2)
stats.chi2.ppf(1-alpha/2, df=len(obs)-1)

40.39164735509392

16.74960234363904

In [52]:
# prob 2.10
# 1
print(
    stats.binom.pmf(k=0,n=3,p=0.5),
    stats.binom.pmf(k=1,n=3,p=0.5),
    stats.binom.pmf(k=2,n=3,p=0.5),
    stats.binom.pmf(k=3,n=3,p=0.5),
)

0.125 0.3750000000000001 0.3750000000000001 0.125

In [53]:
# 2
obs = [31, 40, 16, 13]
p = [stats.binom.pmf(k=0,n=3,p=0.5),
    stats.binom.pmf(k=1,n=3,p=0.5),
    stats.binom.pmf(k=2,n=3,p=0.5),
    stats.binom.pmf(k=3,n=3,p=0.5)]
exp = np.multiply(np.sum(obs), p)

alpha = 0.05
chi2 = np.sum(np.divide(np.subtract(obs, exp)**2, exp)); print(chi2)
stats.chi2.ppf(1-alpha/2, df=len(obs)-1)

39.893333333333345

9.348403604496148

## 15.3 동질성 검정
- 모집단을 분류된 범주에 따라 2원 분할표로 표현 후, 모집단들이 각 범주에 대하여 같은 반응을 보이는지 검정
- 각 반응범주에서 관측된 비율을 가지고 모집단 별로 같은지 조사
$$H_0: p_{A1}=p_{B1},\  p_{A2}=p_{B2},\ p_{A3}=p_{B3},$$
$$칸의\ 추정기대도수=\frac{칸이\ 속한\ 행의\ 합계\times 칸이\ 속한\ 열의\ 합계}{전체\ 합계}$$

> **분할표에서의 $\chi^2$ 동질성 검정**
>
> - r개의 모집단에서 독립적으로 추출한 표본을 c개의 반응범주로 분류
>    - 각 칸의 추정기대도수 : $\frac{(행의\ 합 \times 열의 합)}{(전체 합}$
>    - $\chi^2$의 자유도 : r(c-1) - (c-1) = (r-1)(c-1)
>        - 각 r개의 행이 독립인 모집단, c개의 범주 
>        => 성질 1) 모수가 알려져 있다면 자유도 r(c-1)
>        => 성질 2) 각 범주 공통비율 $p_k$를 추정하면, 자유도는 추정한 모수의 개수만큼 감소, $\sum p_k=1$로부터 추정 모수의 개수는 (c-1)
>    - $\chi^2 = \sum\frac{(O-E)^2}{E}$
>    - 기각역$ R: \chi^2 \geq \chi^2_\alpha$

In [233]:
# example 5
data = pd.DataFrame([['a', 'ok', 37], ['a', 'mid', 24], ['a', 'ng', 19], ['b', 'ok', 17], ['b', 'mid', 33], ['b', 'ng', 20]])
diet = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum')#, margins=True)

diet

1  mid  ng  ok
0
a   24  19  37
b   33  20  17

In [269]:
# expectation
diet_exp = pd.DataFrame(index=diet.index, columns=diet.columns)
all_sum = np.sum(diet.sum())
row_sum = col_sum = 0

for row in list(diet_exp.index):
    row_sum = np.sum(diet.loc[row, :])
    for col in list(diet_exp.columns):
        col_sum = np.sum(diet.loc[:, col])
        diet_exp.loc[row,col] = row_sum * col_sum / all_sum

# chi square calculation        
diet_chi = pd.DataFrame(index=diet.index, columns=diet.columns)
for row in list(diet_exp.index):
    for col in list(diet_exp.columns):
        diet_chi.loc[row,col] = (diet.loc[row,col]-diet_exp.loc[row,col])**2/diet_exp.loc[row,col]

f_val = np.sum(diet_chi.sum())

alpha = 0.05
print(f_val, stats.chi2.ppf(1-alpha, df=(len(diet.index)-1) * (len(diet.columns)-1)))

8.22398544438018 5.991464547107979

In [263]:
stats.chi2.ppf(1-alpha/2, df=2)

7.377758908227871

In [264]:
# example 6
data = pd.DataFrame([['office', 'addict', 32], ['office', 'ok', 268], 
                     ['edu', 'addict', 51], ['edu', 'ok', 199], 
                     ['biz', 'addict', 67], ['biz', 'ok', 233],
                     ['merch', 'addict', 83], ['merch', 'ok', 267]])
addict = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum')#, margins=True)

addict

1       addict   ok
0
biz         67  233
edu         51  199
merch       83  267
office      32  268

In [268]:
# expectation
addict_exp = pd.DataFrame(index=addict.index, columns=addict.columns)
all_sum = np.sum(addict.sum())
row_sum = col_sum = 0

for row in list(addict_exp.index):
    row_sum = np.sum(addict.loc[row, :])
    for col in list(addict_exp.columns):
        col_sum = np.sum(addict.loc[:, col])
        addict_exp.loc[row,col] = row_sum * col_sum / all_sum

# chi square calculation        
addict_chi = pd.DataFrame(index=addict.index, columns=addict.columns)
for row in list(addict_exp.index):
    for col in list(addict_exp.columns):
        addict_chi.loc[row,col] = (addict.loc[row,col]-addict_exp.loc[row,col])**2/addict_exp.loc[row,col]

f_val = np.sum(addict_chi.sum())

alpha = 0.05
print(f_val, stats.chi2.ppf(1-alpha, df=(len(addict.index)-1)*(len(addict.columns)-1)))

20.596749762391923 7.814727903251179

In [272]:
# example 7
data = pd.DataFrame([
    ['pro', 'sprout', 88], ['pro', 'no sprout', 12],
    ['no pro', 'sprout', 126], ['no pro', 'no sprout', 24]
])
sprout = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum')
sprout

1       no sprout  sprout
0
no pro         24     126
pro            12      88

In [273]:
sprout_exp = pd.DataFrame(index=sprout.index, columns=sprout.columns)
all_sum = np.sum(sprout.sum())
row_sum = col_sum = 0

for row in list(sprout_exp.index):
    row_sum = np.sum(sprout.loc[row, :])
    for col in list(sprout_exp.columns):
        col_sum = np.sum(sprout.loc[:, col])
        sprout_exp.loc[row,col] = row_sum * col_sum / all_sum

# chi square calculation        
sprout_chi = pd.DataFrame(index=sprout.index, columns=sprout.columns)
for row in list(sprout_exp.index):
    for col in list(sprout_exp.columns):
        sprout_chi.loc[row,col] = (sprout.loc[row,col]-sprout_exp.loc[row,col])**2/sprout_exp.loc[row,col]

f_val = np.sum(sprout_chi.sum())

alpha = 0.05
print(f_val, stats.chi2.ppf(1-alpha, df=(len(sprout.index)-1)*(len(sprout.columns)-1)))

0.7788161993769473 3.841458820694124

In [276]:
# prob 3.2
data = pd.DataFrame([
    ['a', 'no', 36], ['a', 'listen', 55], ['a', 'buy', 109],
    ['b', 'no', 45], ['b', 'listen', 56], ['b', 'buy', 49],
    ['c', 'no', 54], ['c', 'listen', 78], ['c', 'buy', 168],    
])

market = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum')

market_exp = pd.DataFrame(index=market.index, columns=market.columns)
all_sum = np.sum(market.sum())
row_sum = col_sum = 0

for row in list(market_exp.index):
    row_sum = np.sum(market.loc[row, :])
    for col in list(market_exp.columns):
        col_sum = np.sum(market.loc[:, col])
        market_exp.loc[row,col] = row_sum * col_sum / all_sum

# chi square calculation        
market_chi = pd.DataFrame(index=market.index, columns=market.columns)
for row in list(market_exp.index):
    for col in list(market_exp.columns):
        market_chi.loc[row,col] = (market.loc[row,col]-market_exp.loc[row,col])**2/market_exp.loc[row,col]

f_val = np.sum(market_chi.sum())

alpha = 0.05
print(f_val, stats.chi2.ppf(1-alpha, df=(len(market.index)-1)*(len(market.columns)-1)))

24.60796923859296 9.487729036781154

In [278]:
# prob 3.4
# 1
data = pd.DataFrame([
    ['yes','pos',23], ['yes','impos',18],
    ['no','pos',25], ['no', 'impos', 16]
])

deaf = pd.crosstab(columns=data[1], index=data[0], values=data[2], aggfunc='sum')

deaf_exp = pd.DataFrame(index=deaf.index, columns=deaf.columns)
all_sum = np.sum(deaf.sum())
row_sum = col_sum = 0

for row in list(deaf_exp.index):
    row_sum = np.sum(deaf.loc[row, :])
    for col in list(deaf_exp.columns):
        col_sum = np.sum(deaf.loc[:, col])
        deaf_exp.loc[row,col] = row_sum * col_sum / all_sum

# chi square calculation        
deaf_chi = pd.DataFrame(index=deaf.index, columns=deaf.columns)
for row in list(deaf_exp.index):
    for col in list(deaf_exp.columns):
        deaf_chi.loc[row,col] = (deaf.loc[row,col]-deaf_exp.loc[row,col])**2/deaf_exp.loc[row,col]

f_val = np.sum(deaf_chi.sum())

alpha = 0.05
print(f_val, stats.chi2.ppf(1-alpha, df=(len(deaf.index)-1)*(len(deaf.columns)-1)))

0.20098039215686275 3.841458820694124

In [279]:
# 2
# 두 모비율
alpha = 0.05
deaf

1    impos  pos
0
no      16   25
yes     18   23