In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import statsmodels

# statsmodels

01 사후분석
- stats
    - multicomp
        - MultiComparison
            - allpairtest
    - pairwise_tukeyhsd

02 시계열분석
- graphics.tsaplots
    - plot_acf
    - plot_pacf
- tsa
    - arima_model
        - ARIMA
    - statesplace.sarimax
        - SARIMAX

03 ANOVA (scipy모듈과 함께써야 모두 커버가능, 이분산 anova의 경우 pingouin모듈의 welch_anova를 사용)
- 다원분산분석 or 이원분산분석
- 일원분산분석
    - stats.anova
        - anova_lm

04 회귀분석    
- formula.api
    - ols

### 세 집단 이상 검정 (independent)
정규성(shapiro), 등분산(levene) 검정 결과에 따라 시행하는 검정이 다름
- 정규성 만족, 등분산 만족 : one-way anova
- 정규성 만족, 등분산 불만족 : welch's anova
- 정규성 불만족 : kruskal-wallis H test

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/anova.csv')
df.head()

           x1          x2          x3
0  211.363083  390.834112  304.256435
1  117.428643  412.045140  421.324048
2  231.636723  358.911848  375.089471
3  244.284666  196.344885  266.095665
4  242.221433  240.837145  225.647526

In [5]:
x1 = df['x1']; x2 = df['x2']; x3 = df['x3']

print(stats.shapiro(x1))
print(stats.shapiro(x2))
print(stats.shapiro(x3))
# 셋 다 정규성 만족

ShapiroResult(statistic=0.9979788064956665, pvalue=0.27388232946395874)
ShapiroResult(statistic=0.9979414939880371, pvalue=0.25899720191955566)
ShapiroResult(statistic=0.9987626671791077, pvalue=0.7304413914680481)

In [7]:
stats.levene(x1, x2, x3)
# 등분산 만족

LeveneResult(statistic=2.71270174202054, pvalue=0.06652021922816238)

In [13]:
# from statsmodels.formula.api import ols
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

dfm = df.melt()
model = ols('value ~ C(variable)', dfm).fit()
anova_lm(model)

# 적어도 하나의 평균은 다르다

                 df        sum_sq       mean_sq           F        PR(>F)
C(variable)     2.0  3.774347e+06  1.887173e+06  209.884999  4.919153e-86
Residual     2997.0  2.694742e+07  8.991464e+03         NaN           NaN

In [14]:
stats.f_oneway(x1, x2, x3)

# 적어도 하나의 평균은 다르다

F_onewayResult(statistic=209.88499932318638, pvalue=4.919152988455592e-86)

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/anova2.csv')
df.head()

           x1          x2          x3
0  271.492970  207.178968  246.551192
1  190.387794  243.734862  260.304399
2  259.255029  262.782198  306.919615
3  211.415004  217.065336  275.642095
4  242.178040  294.741132  284.794069

In [16]:
x1 = df['x1']; x2 = df['x2']; x3 = df['x3']

print(stats.shapiro(x1))
print(stats.shapiro(x2))
print(stats.shapiro(x3))
# 셋 다 정규성 만족

ShapiroResult(statistic=0.9886646866798401, pvalue=0.5584300756454468)
ShapiroResult(statistic=0.992436408996582, pvalue=0.8518696427345276)
ShapiroResult(statistic=0.9848726987838745, pvalue=0.31093811988830566)

In [18]:
stats.levene(x1, x2, x3)
# 등분산 만족

LeveneResult(statistic=1.845797549925243, pvalue=0.15970603203148068)

In [19]:
stats.f_oneway(x1, x2,  x3)
# 평균은 동일하다고 볼 수 있다.

F_onewayResult(statistic=2.386152612702158, pvalue=0.09374426938585284)

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/anova8.csv')
df.head()

        value target
0  223.208318      a
1  321.065660      a
2  281.544249      a
3  255.508098      a
4  261.764930      a

In [23]:
a = df.loc[df['target']=='a']['value']
b = df.loc[df['target']=='b']['value']
c = df.loc[df['target']=='c']['value']

print(stats.shapiro(a))
print(stats.shapiro(b))
print(stats.shapiro(c))
# a가 정규성 불만족

ShapiroResult(statistic=0.9666388034820557, pvalue=0.01229821890592575)
ShapiroResult(statistic=0.9713969230651855, pvalue=0.1093384176492691)
ShapiroResult(statistic=0.9651245474815369, pvalue=0.4156579077243805)

In [24]:
stats.levene(a,b,c)
# 등분산 만족

LeveneResult(statistic=1.4817966330841852, pvalue=0.2297504921313145)

In [26]:
print(stats.f_oneway(a,b,c))
print(stats.kruskal(a,b,c))
# 두 검정 결과에 차이 존재

F_onewayResult(statistic=2.7145676300093733, pvalue=0.06871171968864054)
KruskalResult(statistic=6.9277037668798584, pvalue=0.03130893110123)

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/anova10.csv')
df.head()

        value target
0  240.187831      a
1  186.091464      a
2  201.137519      a
3  268.445811      a
4  287.581475      a

In [29]:
a = df.loc[df['target']=='a']['value']
b = df.loc[df['target']=='b']['value']
c = df.loc[df['target']=='c']['value']

print(stats.shapiro(a))
print(stats.shapiro(b))
print(stats.shapiro(c))
# 모두 정규성 만족

ShapiroResult(statistic=0.9835558533668518, pvalue=0.24877400696277618)
ShapiroResult(statistic=0.9923046231269836, pvalue=0.9479172825813293)
ShapiroResult(statistic=0.9523516893386841, pvalue=0.19537121057510376)

In [30]:
stats.levene(a,b,c)
# 등분산 불만족

LeveneResult(statistic=4.530341210288782, pvalue=0.011923468290294031)

In [32]:
import pingouin as pg
pg.welch_anova(dv='value', between='target', data=df)
# p-unc : 각 평균값의 차이가 없음

   Source  ddof1      ddof2         F     p-unc       np2
0  target      2  69.100989  2.244923  0.113608  0.029613